
body {
    font-family: "Roboto", sans-serif;

    &Dark {
        background-color: #4d4d4d;
    }
    &Sun {
        background-color: #7ab192;
    }
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    &Dark {
        background-color: #4d4d4d;
    }
    &Sun {
        background-color: #7ab192;
    }
}
